body {
  font-family: 'Inter', sans-serif;
}

.hero-image {
  background-image: url("https://image.hm.com/assets/hm/33/02/330224815382556879d551aa93ee1f2076f429c1.jpg?imwidth=2160");
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}


/* resend states */
.resend-disabled {
  color: #d4d4d8;
  cursor: not-allowed;
}

.resend-active {
  color: black;
  cursor: pointer;
}

.resend-active:hover {
  text-decoration: underline;
}

.otp-input, .otp-box {
    width: 52px;
    height: 52px;

    border: 1px solid #d4d4d8; /* light grey like reference */
    border-radius: 10px; /* soft curve */

    background: transparent;

    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #111;

    outline: none;
    transition: all 0.2s ease;
}

/* Focus (very subtle like reference) */
.otp-input:focus,
.otp-box:focus {
    border-color: #a1a1aa;
}

/* Remove heavy effects */
.otp-input:hover,
.otp-box:hover {
    border-color: #a1a1aa;
}

/* Mobile tweak */
@media (max-width: 640px) {
    .otp-box {
        width: 42px;
        height: 52px;
    }
}